GROQ_API_KEY=your_key_here
MY_EMAIL=your_email_here
GMAIL_APP_PASSWORD=your_app_password_here
SHEET_ID=your_sheet_id_here
NEWS_API_KEY=your_key_here
MY_NAME=your_name_here
MY_LINKEDIN=your_linkedin_here
MY_GITHUB=your_github_here
MY_PORTFOLIO=your_portfolio_here
SHEET_NAME=your_sheet_name_here


